*.class filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
gradle filter=lfs diff=lfs merge=lfs -text
.gradle filter=lfs diff=lfs merge=lfs -text
*.tab* filter=lfs diff=lfs merge=lfs -text
